extends ./layout/index

block contenido
  main.container.mt-5 
    h1.text-center.mt-5=pagina

    if(testimoniales)
      blockquote.text-center Lee sobre nuestro clientes y sus experiencias
      include ./layout/bloque_testimoniales


    .row 
      .col-md-12
        h2.d-block.w-100.text-center Agrega un Testimonial 

        if(errores)
          each error in errores 
            .alert.col.alert-danger.text-center=error.mensaje
      .row.justify-content-center.col 
        .col-md-8
          form(action="/testimoniales" method="POST")
            .form-group
              label(for="nombre") Nombre
              input#nombre.form-control(type="text" placeholder="Tu nombre" name="nombre" value=nombre )
            .form-group
              label(for="correo") Email
              input#correo.form-control(type="text" placeholder="Tu correo" name="correo" value=correo )
            .form-group
              label(for="mensaje") mensaje
              textarea#mensaje.form-control(type="text" placeholder="Tu mensaje" name="mensaje")=mensaje

            input.btn.btn-success.btn-block(type="submit")